<a href="https://colab.research.google.com/github/KiokoMc/Challenge/blob/main/Dayra___Martinez_Challenge_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary. 
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [755]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [756]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [757]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [758]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [759]:
########## Q1
#Your code here

df_q1 = pd.DataFrame({'Make': df['Make'], 'CO2 Emission Grams/Mile' : df['CO2 Emission Grams/Mile']}).where(df['Make'] == "Volkswagen").dropna()
mean_q1 = df_q1.mean(axis=0, numeric_only= True)
mean = mean_q1[0]


print(mean)


#Example answer:
#answer_dict["Q1"] = mean
answer_dict["Q1"] = 392.7417210857633

392.7417210857633

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [760]:
########## Q2
#Your code here
df_q2 = pd.DataFrame({'Make': df['Make'] , 'Model' : df['Model']})

df_unique = df_q2.groupby(['Make']).agg({'Make': np.size}).Make.sort_values(ascending=True).head().to_frame('Unique Models')

print(df_unique)

#Example answer:
answer_dict["Q2"] = [["Mahindra", 1] ,["General Motors", 1] ,["Qvale", 1] ,["Fisker", 1] ,["S and S Coach Company  E.p. Dutton", 1] ]
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

                                    Unique Models
Make
Mahindra                                        1
General Motors                                  1
Qvale                                           1
Fisker                                          1
S and S Coach Company  E.p. Dutton              1

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [761]:
########## Q3
#Your code here
df_q3 = pd.DataFrame({'Fuel Type': df['Fuel Type'].unique()})

dfq3_sort = df_q3.sort_values(by ='Fuel Type', ascending=True)

print(dfq3_sort)


#Example answer:
answer_dict["Q3"] = ['CNG' , 'Diesel' , 'Gasoline or E85' , 'Gasoline or natural gas' , 'Gasoline or propane' , 'Midgrade' , 'Premium' , 'Premium Gas or Electricity' , 'Premium and Electricity' , 'Premium or E85' , 'Regular' , 'Regular Gas and Electricity' , 'Regular Gas or Electricity']
#answer_dict["Q3"] =  ['Regular', 'Premium']

                      Fuel Type
8                           CNG
2                        Diesel
6               Gasoline or E85
7       Gasoline or natural gas
12          Gasoline or propane
10                     Midgrade
1                       Premium
5    Premium Gas or Electricity
3       Premium and Electricity
4                Premium or E85
0                       Regular
11  Regular Gas and Electricity
9    Regular Gas or Electricity

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer: 
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [762]:
########## Q4
#Your code here
import statistics

df_q4 = pd.DataFrame({'Model': df['Model'], 'Year': df['Year'], 'Fuel Barrels/Year' : df['Fuel Barrels/Year']}).where(df['Make'] == "Toyota").dropna()
dfq4_total = df_q4.sort_values(by ='Fuel Barrels/Year', ascending=False).head(9)
mean = statistics.mean(dfq4_total['Fuel Barrels/Year'])
SD = statistics.pstdev(dfq4_total['Fuel Barrels/Year'])
dfq4_SD = ((dfq4_total['Fuel Barrels/Year'] - mean)/SD)

dfq4_total = pd.DataFrame({'Model': dfq4_total['Model'], 'Year': dfq4_total['Year'].astype(int)})
dfq4_SD = pd.concat([dfq4_total , dfq4_SD], axis = 1).sort_values(by =['Fuel Barrels/Year','Year'],ascending=[True, True])

print(dfq4_SD)
answer_dict["Q4"] = [['Land Cruiser Wagon 4WD',1984,-1.118034],
                     ['Land Cruiser Wagon 4WD',1985,-1.118034],
                     ['Land Cruiser Wagon 4WD',1986,-1.118034],
                     ['Land Cruiser Wagon 4WD',1987,-1.118034],
                     ['Cab/Chassis 2WD',1989, 0.894427],
                     ['Cab/Chassis 2WD',1990, 0.894427],
                     ['Cab/Chassis 2WD',1991, 0.894427],
                     ['Cab/Chassis 2WD',1992, 0.894427],
                     ['Cab/Chassis 2WD',1993, 0.894427]]

                        Model  Year  Fuel Barrels/Year
33102  Land Cruiser Wagon 4WD  1984          -1.118034
33103  Land Cruiser Wagon 4WD  1985          -1.118034
33104  Land Cruiser Wagon 4WD  1986          -1.118034
33105  Land Cruiser Wagon 4WD  1987          -1.118034
32473         Cab/Chassis 2WD  1989           0.894427
32475         Cab/Chassis 2WD  1990           0.894427
32477         Cab/Chassis 2WD  1991           0.894427
32479         Cab/Chassis 2WD  1992           0.894427
32481         Cab/Chassis 2WD  1993           0.894427

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [763]:
########## Q5
#Your code here

df_q5 = pd.DataFrame({'Year': df['Year'],'Combined MPG': df['Combined MPG']}).where(df['Model'] == "Golf").where(df['Transmission'] == "Manual 5-spd").dropna().astype(int)
dfq5_MPG = df_q5.groupby('Year').sum().astype(int)
dfq5_MPGdiff = dfq5_MPG.copy()

dfq5_MPGtotal = dfq5_MPG['Combined MPG'] - dfq5_MPGdiff['Combined MPG'].shift(1)

df_q5total = pd.concat([dfq5_MPG, dfq5_MPGtotal], axis=1).replace(np.nan,0)

print(df_q5total)

#answer_dict["Q5"] = df_q5total

answer_dict["Q5"] =[
                     [1986,61, 0.0],
                     [1987,59,-2.0],
                     [1988,25,-34.0],
                     [1989,59,34.0],
                     [1999,24,-35.0],
                     [2000,86,62.0],
                     [2001,86, 0.0],
                     [2002,62,-24.0],
                     [2003,62, 0.0],
                     [2004,60,-2.0],
                     [2005,59,-1.0],
                     [2006,58,-1.0],
                     [2010,25,-33.0],
                     [2011,26, 1.0],
                     [2012,26, 0.0],
                     [2013,26, 0.0],
                     [2015,30, 4.0],
                     [2016,30, 0.0],
                     [2017,29,-1.0]
                     ]

      Combined MPG  Combined MPG
Year
1986            61           0.0
1987            59          -2.0
1988            25         -34.0
1989            59          34.0
1999            24         -35.0
2000            86          62.0
2001            86           0.0
2002            62         -24.0
2003            62           0.0
2004            60          -2.0
2005            59          -1.0
2006            58          -1.0
2010            25         -33.0
2011            26           1.0
2012            26           0.0
2013            26           0.0
2015            30           4.0
2016            30           0.0
2017            29          -1.0

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Ford and ending with Volkswagen (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [764]:
########## Q6
#Your code here

df_q4 = (pd.DataFrame({'Make': df['Make'], 'CO2 Emission Grams/Mile' : df['CO2 Emission Grams/Mile']})).sort_values(by ='CO2 Emission Grams/Mile',ascending=True)


dfq4_lowest = df_q4.loc[df_q4['Make'].str.contains('Toyota|Ford|Volkswagen|Nissan|Honda')]
dfq4_lowest = dfq4_lowest.groupby(['Make']).head(5).sort_values(by =['Make','CO2 Emission Grams/Mile'],ascending=[True, True])

print(dfq4_lowest)

answer_dict["Q6"] = [
                     ['Toyota', 133.000000, 133.000000, 133.000000, 133.000000, 158.000000],
                     ['Ford',112.000000,129.000000,129.000000,129.000000,129.000000],
                     ['Volkswagen' ,200.000000, 200.000000, 200.000000, 200.000000, 261.025641],
                     ['Nissan' ,249.000000, 254.000000, 254.000000, 254.000000, 254.000000], 
                     ['Honda',130.000000,167.679245,167.679245,167.679245,167.679245]
                     ]

             Make  CO2 Emission Grams/Mile
13412        Ford               112.000000
11639        Ford               129.000000
11640        Ford               129.000000
11642        Ford               129.000000
11641        Ford               129.000000
17059       Honda               130.000000
17522       Honda               167.679245
17524       Honda               167.679245
17528       Honda               167.679245
17526       Honda               167.679245
27201      Nissan               249.000000
27198      Nissan               254.000000
26835      Nissan               254.500000
26832      Nissan               254.500000
26830      Nissan               254.500000
33284      Toyota               133.000000
33283      Toyota               133.000000
33282      Toyota               133.000000
33281      Toyota               133.000000
33279      Toyota               158.000000
34667  Volkswagen               200.000000
34666  Volkswagen               200.000000
34665  Volkswagen               200.000000
34664  Volkswagen               200.000000
34720  Volkswagen               261.025641

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [765]:
########## Q7
#Your code here
df_q7 = pd.DataFrame({'Year': df['Year'],'Combined MPG': df['Combined MPG']}).astype(int)

dfq7_group1 = df_q7[(df_q7['Year'] <1989)].mean()
dfq7_group2 = df_q7[(df_q7['Year'] <1994) & (df_q7['Year'] >1990)].mean()
dfq7_group3 = df_q7[(df_q7['Year'] <1999) & (df_q7['Year'] >1995)].mean()
dfq7_group4 = df_q7[(df_q7['Year'] <2004) & (df_q7['Year'] >2000)].mean()
dfq7_group5 = df_q7[(df_q7['Year'] <2009) & (df_q7['Year'] >2005)].mean()
dfq7_group6 = df_q7[(df_q7['Year'] <2014) & (df_q7['Year'] >2010)].mean()
dfq7_group7 = df_q7[(df_q7['Year'] <2019) & (df_q7['Year'] >2015)].mean()




df_q7total = pd.concat([dfq7_group1, dfq7_group2, dfq7_group3, dfq7_group4, dfq7_group5, dfq7_group6, dfq7_group7], axis=1)
print(df_q7total)

answer_dict["Q7"] = [[(1984, 1988), 19.230850],
                     [(1989, 1993), 18.934967],
                     [(1994, 1998), 19.476438],
                     [(1999, 2003), 19.062133],
                     [(2004, 2008), 19.051335],
                     [(2009, 2013), 21.571553],
                     [(2014, 2018), 23.254676]]

                        0            1            2            3            4  \
Year          1986.098587  1991.986388  1997.010376  2002.045564  2007.024934
Combined MPG    19.230850    18.934967    19.476438    19.062133    19.051335

                        5            6
Year          2012.012824  2016.411031
Combined MPG    21.571553    23.254676

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [766]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.050s

OK

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [769]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mahindra', 1],
  ['General Motors', 1],
  ['Qvale', 1],
  ['Fisker', 1],
  ['S and S Coach Company  E.p. Dutton', 1]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Land Cruiser Wagon 4WD', 1984, -1.118034],
  ['Land Cruiser Wagon 4WD', 1985, -1.118034],
  ['Land Cruiser Wagon 4WD', 1986, -1.118034],
  ['Land Cruiser Wagon 4WD', 1987, -1.118034],
  ['Cab/Chassis 2WD', 1989, 0.894427],
  ['Cab/Chassis 2WD', 1990, 0.894427],
  ['Cab/Chassis 2WD', 1991, 0.894427],
  ['Cab/Chassis 2WD', 1992, 0.894427],
  ['Cab/Chassis 2WD', 1993, 0.894427]],
 'Q5': [[1986, 61, 0.0],
  [1987, 59, -2.0],
  [1988, 25, -34.0],
  [1989, 59, 34.0],
  [1999, 24, -35.0],
  [2000, 86, 62.0],
  [2001, 86, 0.0],
  [2002, 62, -24.0],
  [2003, 62, 0.0],
  [2004, 60, -2.0],
  [2005, 59, -1.0],
  [2006, 58, -1.0],
  [2010, 25, -33.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641],
  ['Nissan', 249.0, 254.0, 254.0, 254.0, 254.0],
  ['Honda', 130.0, 167.679245, 167.679245, 167.679245, 167.679245]],
 'Q7': [[(1984, 1988), 19.23085],
  [(1989, 1993), 18.934967],
  [(1994, 1998), 19.476438],
  [(1999, 2003), 19.062133],
  [(2004, 2008), 19.051335],
  [(2009, 2013), 21.571553],
  [(2014, 2018), 23.254676]]}

In [768]:
import pickle

file_name = "FIRSTNAME_LASTNAME_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)